<footer id="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <i class="fas fa-envelope-open"></i> ventas@lym.com.mx
            </div>
            <div class="col-md-6">
                <div class="social text-right">
                    <a href="https://www.facebook.com/lymmexico" target="blank">
                        <i class="fab fa-facebook fa-lg"></i>
                    </a>
                    <a href="https://mx.linkedin.com/company/lymdemexico" target="blank">
                        <i class="fab fa-linkedin fa-lg"></i>
                    </a>
                    <a href="https://wa.me/5216622990622" target="blank">
                        <i class="fab fa-whatsapp fa-lg"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 text-center">
        Copyright &copy; LyM de México S.A de C.V. <span class="year"></span>. Todos los derechos reservados.
    </div>
</footer>