<script>window.onscroll = function () { addSearchBar() };</script>
{% load static %}
<nav class="navbar navbar-expand-lg navbar-custom fixed-top">
    <a class="navbar-brand" href="{% url 'index' %}">
        <img src="{% static 'img/logo.png' %}" width="150">
        <span id="by-text">BY LYM MÉXICO</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse">
        <div class="col-md-7 offset-md-2">
            <div id="search-bar">
                {% include 'partials/_search_bar.html' %}
            </div>
        </div>
        <ul class="navbar-nav ml-auto navbar-nav-custom">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'index' %}">Inicio <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'products.index' %}">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'contact' %}">Contacto</a>
            </li>
        </ul>

    </div>
</nav>