{% extends "base.html" %}
{% load static %}
{% block content%}
<section class="main-header">
    <div class="layer">
        <div id="box">
            <div class="row">
                <div class="col-md-8 align-self-center">
                    <h1>ENFRIADORES DE ACEITE</h1>
                    <h5>LyM de México líder en la fabricación de enfriadores de aire a aire y de aire a aceite
                        durante décadas, y hemos suministrado soluciones para aplicaciones en toda la industria.</h5>
                </div>
                <div class="col-md-4">
                    <img src="{% static 'img/aire-to-oil.png' %}" class="img-fluid">
                </div>
            </div>
            {% include 'partials/_search_bar.html' %}
        </div>
    </div>
</section>
<section id="differences">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <div class="img-crop">
                    <img src="{% static 'img/differences/1.jpg' %}" class="img-fluid img-diff">
                </div>
            </div>
            <div class="col-md-5 align-self-center">
                <h1>Reparables en campo para minimizar el tiempo de inactividad</h1>
                <p>Los tubos de enfriamiento individuales se mantienen en cabezales con sellos de goma flexibles. Los
                    sellos flexibles permiten que los tubos que puedan sufrir daños se eliminen y reemplacen en el
                    campo, a menudo sin quitar el radiador.</p>
            </div>
            <div class="col-md-5 align-self-center">
                <h1>Sin juntas soldadas para mayor durabilidad</h1>
                <p>Los sellos de goma flexibles crean un radiador durable. Los sellos absorben la vibración, las
                    tensiones y el choque térmico que pueden causar que las juntas soldadas se agrieten.</p>
            </div>
            <div class="col-md-6">
                <div class="img-crop">
                    <img src="{% static 'img/differences/2.jpg' %}" class="img-fluid img-diff">
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-crop">
                    <img src="{% static 'img/differences/3.jpg' %}" class="img-fluid img-diff">
                </div>
            </div>
            <div class="col-md-5 align-self-center">
                <h1>Diseño único para una vida más larga</h1>
                <p>Los tubos están diseñados para crear pasajes abiertos para que la suciedad y los residuos puedan
                    salir a través del núcleo, lo que garantiza una alta fiabilidad y larga vida útil con menores costos
                    operativos.</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container pt-4">
        <h1 class="page-title">Enfriadores de aceite recientes</h3>
            <div class="row">
                {% if products %}
                {% for product in products %}
                <div class="col-md-6 col-lg-4 mb-4">
                    <div class="card card-custom">
                        <div class="card-body">
                            <div class="card-custom-heading">
                                <h4 class="text-primary">{{ product.name|truncatewords:6 }}</h4>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item disabled" aria-disabled="true">Números de parte</li>
                                    <li class="list-group-item text-secondary">
                                        Mesabi:
                                        <span class="">{{ product.default_code }}</span>
                                    </li>
                                    <li class="list-group-item text-secondary">
                                        OEM:
                                        <span class="">{{ product.x_studio_field_QlEui }}</span>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                            <a href="{% url 'single' product.default_code %}"
                                class="btn btn-primary btn-block">Solicitar
                                cotización</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
                {% else %}
                <div class="col-md-12">
                    <p>No se econtráron números de parte</p>
                </div>
                {% endif %}
            </div>
</section>
{% endblock %}