{% extends "base.html" %}
{% load static %}
{% block content%}
<div class="container container-custom">
    <div class="row">
        <div class="col-md-7">
            <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" autoplay muted loop>
                    <source src="{% static 'img/products-video.mp4' %}" type="video/mp4">
                    Tu navegador no soporta esta funcion.
                </video>
            </div>
            <h4 class="title mt-4">Te podría interesar...</h4>
            {% include content_random %}
        </div>
        <div class="col-md-5">
            <h3 class="page-title">{{ detail.name }}</h3>
            {% include 'products/forms/product.html' %}
        </div>
    </div>
</div>
{% endblock %}