body {
    font-family: 'Roboto Slab', serif;
    background-color: #ffffff;
}
.navbar-custom {
    background-color: #ffffff;
}
#by-text {
  position: absolute;
  font-size: 12px;
  margin-top: 15px;
}
.title {
  color: #E65100;
  
  margin-bottom: 30px;
}
/* Containers */
#main-container {
  position: relative;
  min-height: 100vh;
}
.main-header {
  background: url('https://www.schaeffler.de/remotemedien/media/_shared_media_rwd/04_sectors_1/industry_1/construction_machinery/00085545_16_9-schaeffler-industry-solutions-construction-machinery-crawler-excavator_rwd_600.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 50vh;
}
.main-header .layer {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 100%;
  height: 50vh; 
}
#box {
  padding: 60px;
  color: #ffffff;
}
#box p {
  text-align: justify;
  font-weight: 300;
}
/* Search */
.btn-search:focus {outline:0;}
.form-search {
  position: relative;  
}
.form-control-search {
  width: 100%;
}
.form-search .btn-search {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.fa-search {
  color: #E65100
}
.fa-search:hover {
  color: #EF6C00;
}
.social a {
  margin-right: 0.4rem; 
}
#searchbar { display: none }

/* Buttons */
.form-control {
  border-radius: 0;
}
.btn-primary {
  background-color:  #E65100;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 30px;
}
.btn-primary:hover {
  background-color: #EF6C00;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 30px;
}
.fa-chevron-circle-right, .fa-chevron-circle-left {
  color: #CCCC00;
}
/* Differences section */
#differences {
  padding: 40px;
  background-image: url(../img/differences/body-bg.jpg);
}
#differences h3, p {
  text-align: justify;
  margin-top: 30px;
}
.img-diff {
}
  
/* Footer */
#main-footer {
  bottom: 0;
  padding: 60px;
  background-color: #787878;
}
  
