body {
    font-family: 'Roboto Slab', serif;
    background-color: #ffffff;
}
/* Navbar */
.navbar-custom {
    background-color: rgba(230, 81, 0, 0.9);
}
.navbar-nav-custom .nav-link {
  font-size: 20px;
  color: #ffffff;
}
#by-text {
  position: absolute;
  font-size: 12px;
  margin-top: 10px;
}
/* Containers */
.container-custom {
  margin: 90px auto 30px auto;
}
#main-container {
  position: relative;
  min-height: 100vh;
}
.main-header {
  background: url('../img//cover.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
}
.main-header .layer {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100vh; 
}
#box {
  padding: 15%;
  color: #ffffff;
}
#box p {
  text-align: justify;
  font-weight: 300;
}
/* Search */
.btn-search:focus {outline:0;}
.form-search {
  position: relative; 
  
}
.form-control-search {
  width: 100%;
  border-radius: 300px; 
  border: none;
}
.form-search .btn-search {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.fa-search {
  color: #E65100
}
.fa-search:hover {
  color: #EF6C00;
}
#search-bar { display: none }

/* Buttons */
.btn-primary {
  background-color:  #E65100;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 30px;
}
.btn-primary:hover {
  background-color: #EF6C00;
  color: #ffffff;
  font-weight: 600;
  border: none;
  border-radius: 30px;
}
.fa-chevron-right, .fa-chevron-left {
  color: #E65100;
}
/* Differences section */
#differences {
  padding: 40px;
  background-image: url(../img/differences/body-bg.jpg);
}
#differences h1 {
  font-weight: 700;
}
#differences p {
  text-align: justify;
  margin-top: 30px;
}
.img-diff {
  height: 100%;
  width: auto;
}
.img-crop {
  width: 500px;
  height: 500px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
/* Footer */
#main-footer {
  bottom: 0;
  padding: 60px;
  background-color: #000000;
  color: #E65100;
}
.social a {
  margin-right: 0.4rem; 
  color: #E65100;
  text-decoration: none;
}
.social a:hover {
  margin-right: 0.4rem; 
  color: #EF6C00;
}
/* Titles */
.page-title {
  color: #E65100;
  margin-bottom: 30px;
}
.title, .subtitle {
  text-transform: uppercase;
}
.alert-primary-custom {
  background-color: #FFCC80;
  border: none;
}
