{% load static %}
<div class="card">
    <div class="card-body">
        <img class="d-block w-50" src="{% static 'img/logo.png' %}" alt="MESABI®">
        <h2 class="title">Enfriadores de tubo de aluminio</h2>
        <p class="subtitle">Para hidráulico y compresor enfriador de aire/aceite</p>
        {% include 'products/content/sliders/aluminum-tube-cooler.html' %}
        <h3 class="title">Presiones: hasta 175psi (1207 kPa)</h3>
        <hr>
        <p class="body">
            Los enfriadores estándar de tubos de aluminio presentan tubos con aletas circulares integrales
            enrolladas desde la pared del tubo. Los turbuladores se colocan en tubos para aumentar la
            transferencia de calor y son removibles para la limpieza.</p>
        <ul class="press-points">
            <li>
                <span>núcleo de diseño flexible</span>
                <br>
                Tubos de enfriamiento individuales sostenidos en cabezales con sellos de goma flexibles para
                absorber tensiones mecánicas y térmicas que pueden causar fugas de núcleos convencionales
            </li>
            <li>
                <span>reparable en campo</span>
                <br>
                Los sellos permiten que cualquier tubo dañado sea removido y reemplazado en el campo usando
                herramientas manuales simples y a menudo sin quitar el enfriador del equipo
            </li>
            <li>
                <span>fácil de limpiar</span>
                <br>
                <p>Limpiar con aire o agua a alta presión</p>
            </li>
        </ul>

    </div>
</div>