{% load static %}
<div class="card">
    <div class="card-body">
        <img class="d-block w-50" src="{% static 'img/logo.png' %}" alt="MESABI®">
        <h2 class="title">enfriadores csc® de alta presión</h2>
        <p class="subtitle">para hidráulico y compresor enfriador de aire/aceite</p>
        {% include 'products/content/sliders/csc-cooler.html' %}

        <h3 class="title">Presiones: hasta 500psi (3447 kPa)</h3>
        <hr>
        <p class="body">
            Los enfriadores sellados Seal Cooler® cuentan con sellos de tubo a cabezal mantenidos en cautividad
            en la
            placa de cabecera.
            Una vez que un tubo está en su sitio,
            el sello es comprimido para hacer un sello de tubo a cabeza capaz de soportar presiones probadas..
        </p>
        <ul class="press-points">
            <li>
                <span>núcleo de diseño flexible</span>
                <br>
                Tubos de enfriamiento individuales sostenidos en cabezales con sellos de goma flexibles para
                absorber
                tensiones mecánicas y térmicas que pueden causar fugas de núcleos convencionales
            </li>
            <li>
                <span>reparable en campo</span>
                <br>
                Los sellos permiten que cualquier tubo dañado sea removido y reemplazado en el campo usando
                herramientas
                manuales simples y a menudo sin quitar el enfriador del equipo
            </li>
            <li>
                <span>fácil de limpiar</span>
                <br>
                Limpiar con aire o agua a alta presión
            </li>
        </ul>
    </div>
</div>