{% load static %}
<div class="card">
    <div class="card-body">
        <img class="d-block w-50" src="{% static 'img/logo.png' %}" alt="MESABI®">
        <h2 class="title">enfriadores de aleta s</h2>
        <p class="subtitle">para hidráulico y compresor enfriador de aceite/aire</p>
        {% include 'products/content/sliders/s-fin-cooler.html' %}

        <h3 class="title">Presiones: hasta 600psi (4137 kPa)</h3>
        <hr>
        <p class="body">
            Los enfriadores de aleta S están compuestos por una sola fila de tubos de refrigeración de
            aluminio de alto rendimiento de varios puertos. El sello entre el tubo y el cabezal se mantiene
            cautivo en la cabecera por un proceso especial. Una vez que un tubo está en su sitio, el cierre
            se comprime para hacer un sello capaz de soportar las presiones específicas de la aplicación.
            Los enfriadores de aire de carga S MESABI®
            y los enfriadores de aceite a aire pueden diseñarse según las especificaciones del cliente.</p>
        <ul class="press-points">
            <li>
                <span>Núcleo de diseño flexible</span>
                <br>
                Tubos de enfriamiento individuales sostenidos en cabezales con sellos de goma flexibles para
                absorber
                tensiones mecánicas y térmicas que pueden causar fugas de núcleos convencionales
            </li>
            <li>
                <span>Reparable en campo</span>
                <br>
                Los sellos permiten que cualquier tubo dañado sea removido y reemplazado en el campo usando
                herramientas
                manuales simples y, a menudo, sin quitar el enfriador del equipo
            </li>
            <li>
                <span>Fácil de limpiar</span>
                <br>
                Limpiar con aire o agua a alta presión
            </li>
        </ul>
    </div>
</div>