{% extends "base.html" %}
{% load static %}
{% block content%}
<div class="container container-custom">
    <h3 class="page-title">Resultados para: "{{ request.GET.q }}"</h3>
    <div class="row">
        {% if products %}
        {% for product in products %}
        <div class="col-md-6 col-lg-4 mb-4">
            {% include 'products/partials/card.html' %}
        </div>
        {% endfor %}
        {% else %}
        <div class="col-md-6">
            <p>No se encontró el producto, contáctanos seguro te podemos ayudar</p>
            {% include 'products/forms/contact.html' %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}