<div class="row mb-4">
    <div class="col-md-2">
        <a class="btn dropdown-toggle" href="#" role="button" id="manufacturer" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Fabricante
        </a>
        <div class="dropdown-menu" aria-labelledby="manufacturer">
            <a class="dropdown-item" href="search?q=atlas copco">Atlas Copco</a>
            <a class="dropdown-item" href="search?q=ingersoll rand">Ingersoll Rand</a>
            <a class="dropdown-item" href="search?q=komatsu">Komatsu</a>
            <a class="dropdown-item" href="search?q=sandvik">Sandvik</a>
            <a class="dropdown-item" href="search?q=cat">Cat</a>
            <a class="dropdown-item" href="search?q=sonic">Sonic</a>
            <a class="dropdown-item" href="search?q=kaeser">Kaeser</a>
            <a class="dropdown-item" href="search?q=gardner denver">Gardner Denver</a>
            <a class="dropdown-item" href="search?q=fuchs">Fuchs</a>
            <a class="dropdown-item" href="search?q=wagner">Wagner</a>
        </div>
    </div>
    <div class="col-md-2">
        <a class="btn dropdown-toggle" href="#" role="button" id="type" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Para
        </a>
        <div class="dropdown-menu" aria-labelledby="type">
            <a class="dropdown-item" href="search?q=perforadora">Perforadora</a>
            <a class="dropdown-item" href="search?q=cargador">Cargador</a>
            <a class="dropdown-item" href="search?q=compresor">Compresor</a>
            <a class="dropdown-item" href="search?q=excavadora">Excavadora</a>
            <a class="dropdown-item" href="search?q=maquina extrusora">Maquina Extrusora</a>
        </div>
    </div>
</div>