<div class="row justify-content-between">
    <div class="col-md-4 text-left">
        <div class="btn-group" role="group" aria-label="Basic example">
            {% if products.has_previous %}
            <a href="?page=1" class="btn btn-light">Primera</a>
            <a href="?page={{ products.previous_page_number }}" class="btn btn-light">Anterior</a>
            {% endif %}
        </div>
    </div>
    <div class="col-md-4 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <span class="current">
                Página {{ products.number }} de {{ products.paginator.num_pages }}.
            </span>
        </div>
    </div>
    <div class="col-md-4 text-right">
        <div class="btn-group" role="group" aria-label="Basic example">
            {% if products.has_next %}
            <a href="?page={{ products.next_page_number }}" class="btn btn-light">Siguiente</a>
            <a href="?page={{ products.paginator.num_pages }}" class="btn btn-light">Ultima</a>
            {% endif %}
        </div>
    </div>
</div>